@model IEnumerable<LendingLibrary.Web.ViewModels.LendingViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of borrowed items</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaysLentOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateBorrowed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateReturned)
        </th>


        <th></th>
    </tr>

    @foreach (var lending in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => lending.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => lending.PersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => lending.DaysLentOut)
            </td>

            <td>
                @Html.DisplayFor(modelItem => lending.DateBorrowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => lending.DateReturned)
            </td>

            <td>
                <a class="btn btn-info" onclick="editLending('@lending.Id')">
                    <i class="fa fa-pencil" title="Edit" aria-hidden="true"></i>
                    <span class="sr-only">Edit</span>
                </a> |
                <a class="btn btn-danger" onclick="deleteLending('@lending.Id')">
                    <i class="fa fa-trash-o" title="Delete" aria-hidden="true"></i>
                    <span class="sr-only">Delete</span>
                </a>
            </td>
        </tr>
    }
</table>

@section scripts
{
    <script>
        function deleteLending(lendingId) {
            var deleteUrl = '@Url.Action("Delete", "Lending")';
            var redirectUrl = '@Url.Action("Index")';
            LendingLibrary.Web.Lending.Delete.deleteLendingEntry(lendingId, deleteUrl, redirectUrl);
        }

        function editLending(lendingId) {
            var editUrl = '@Url.Action("Edit", "Lending")';
            var redirectUrl = '@Url.Action("Edit", "Lending")';
            LendingLibrary.Web.Lending.Edit.editLendingEntry(lendingId, editUrl, redirectUrl);
        }
    </script>
}