@model IEnumerable<LendingLibrary.Web.ViewModels.PersonViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>People Index page</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<!-- Modal -->
<div id="detailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Person Details</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>

        <th></th>
    </tr>

    @foreach (var person in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => person.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => person.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => person.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => person.PhoneNumber)
            </td>

            <td>
                <a class="btn btn-info" onclick="editPerson('@person.Id')">
                    <i class="fa fa-pencil" title="Edit" aria-hidden="true"></i>
                    <span class="sr-only">Edit</span>
                </a> |

                <a class="btn btn-danger" onclick="deletePerson('@person.Id')">
                    <i class="fa fa-trash-o" title="Delete" aria-hidden="true"></i>
                    <span class="sr-only">Delete</span>
                </a>
            </td>
        </tr>
    }

</table>



@section scripts {
    <script>
        function editPerson(personId) {
            var editUrl = '@Url.Action("Edit", "Person")';
            var redirectUrl = '@Url.Action("Edit")';
            LendingLibrary.Web.Person.Edit.editPersonEntry(personId, editUrl, redirectUrl);

        }

        function deletePerson(personId) {
            var editUrl = '@Url.Action("Delete", "Person")';
            var redirectUrl = '@Url.Action("Index")';
            LendingLibrary.Web.Person.Delete.deletePerson(personId, editUrl, redirectUrl);
        }      
    </script>
}

